*.sh
pred_results/
selfies_vae/init/
selfies_vae/*.csv
wandb/
wandb/*
__pycache__/
__pycache__/*
*.ipynb
*train-zs.csv
finetuned_vae_ckpts/
finetuned_vae_ckpts/*
optimization_all_collected_data/
optimization_all_collected_data/*

